<section class="loginPage">
  <div class="ele-container">
    <div class="ele-wrapper">
      <div class="ele-tail"></div>
      <div class="ele-body">
        <div class="ele-head">
          <div class="ele-eyebrows"></div>
          <div class="ele-eyes"></div>
          <div class="ele-mouth"></div>
          <div class="ele-fang-front"></div>
          <div class="ele-fang-back"></div>
          <div class="ele-ear"></div>
        </div>
      </div>
      <div class="ele-leg-1 ele-leg-back">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-2 ele-leg-front">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-3 ele-leg-back">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-4 ele-leg-front">
        <div class="ele-foot"></div>
      </div>
    </div>
  </div>
  <section class="loginWrapper">
    <basic-label [required]="required" [labelStyle]="labelStyle" text="用户名"></basic-label>
    <input
      nz-input
      [ngStyle]="inputStyle"
      [(ngModel)]="username"
      (keyup.enter)="onEnter()"
    >
    <button nz-button nzType="primary" (click)="login()">登录</button>
  </section>
</section>