<section class="">
  <panel-judgment
    *ngIf="question.type==='judgment'"
    [question]="question"
    [index]="index"
    (answerChange)="onAnswerChange($event)"
  >
  </panel-judgment>
  <panel-choice
    *ngIf="question.type==='single'"
    [question]="question"
    [index]="index">
  </panel-choice>
  <panel-choice
    *ngIf="question.type==='multiple'"
    [question]="question"
    [index]="index">
  </panel-choice>
  <panel-essay
    *ngIf="question.type==='answer'"
    [question]="question"
    [index]="index">
  </panel-essay>
  <panel-program
    *ngIf="question.type==='program'"
    [question]="question"
    [index]="index">
  </panel-program>
</section>